attrs==23.2.1.dev0
btrfsutil==6.12
certifi==2024.12.14
cffi==1.17.1
cryptography==44.0.0
filelock==3.16.1
packaging==24.2
psutil==6.1.1
pycparser==2.22
pygdbmi==0.11.0.0
sentry-sdk==2.19.2
smbus==1.1
TBB==0.2
urllib3==1.26.20
wheel==0.45.0
